article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}
*{
  color: white;
  line-height: 2;
}
body{
font-family: 'Oxygen', sans-serif;
  text-align: center;
  /* height: 100vh; */
}
.App{
  background: black;
  /* background: linear-gradient(to top, green, #000000);  */
}
header{
  /* margin-bottom: -200px; */
  width: 50%;

  margin: 0 auto -200px;
}
.wrapper{
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  
}
img{
  width: 100%;
  max-width: 100%;
  display: block;
}
h1{
  margin: 0;
  color: white;
  text-align: center;
}
h1{
  margin-bottom: 30px;
}
h2{
  color: white;
}
.theo{
  font-size: 2rem;
}
ul, li{
    list-style-type: none;
}
ul{
  display: flex;
  flex-direction: column;
  width: 80%;
padding-left:15%;
/* margin-left: -20vw; */

}
canvas{
  max-width: 100%;
  margin: 0 auto;
}
li{
   border-radius: 5%;
}
.heroImage{
  background-image: url("https://olimex.files.wordpress.com/2013/10/ecg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* a{
  font-size: 1rem;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 15px;
  border-radius: 40px;
  transition: 0.5s ease;
}
a:hover{
  background: white;
  color: lightskyblue;
} */
img{
  width: 100%;
  max-width: 100%;
}
.flex{
  display: flex;
  justify-content: center;
}
.photoWrapper{
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0px 0px 100px 50px rgba(0,146,34,1);
}
.photoWrapper img{
  display: block;
}
/* .didYouKnowSpacing{
  padding-top: 100px;
} */
.chartWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.howManyLives{
  width: 65px;
  height: 35px;
}
.howManyLivesLong{
  width: 135px;
  height: 35px;
}
/* .questionOneImg{
  clip: rect(300px,300px,100px,100px)
} */
main, section{
  /* padding-top: 20vh; */
  padding: 180px 0;
  display: flex;
  align-items: center;
  justify-content: center
}
section{
  /* height: 100vh; */

}
.barChart{
  flex-direction: column;
  /* display: block; */
  /* height: 100vh; */
}
.pageBreak{
  width: 50px;
  margin: 0 auto;
  /* padding: 200px 0; */
}
/* .pageBreak img{
  text-align: center;
} */
.relative{
  position: relative;
}
.titleOverlay{
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
}
.theBeatGoesOn{
    position: absolute;
    bottom: 15%;
    right: 8%;
    font-size: 1.4rem;
}
.theBeatGoesOn span{
  color: firebrick;
}
.discussion{
  display: flex;
  flex-direction: column;
  /* width: 50%; */
}
.discussionSection{
  overflow: hidden;
  height: 100%;
}
/* .discussion input{
  width: 80%;
} */
.greenHeart{
  margin-left: 5px;
  width: 20%;
  align-self: center;
  transition: 0.3s ease;
}
.greenHeart:hover{
  background: white;
}
.greenHeart:active{
  background: rgb(28, 202, 22);
  border: 3px solid rgb(28, 202, 22);
}
.flexCharts{
  display: flex;
  justify-content: center;
  width: 80%;
}
.flexCharts div{
  margin-top: 10px;
}
.discussionForm{
  display: flex;
}
.dropDownForm{
 padding-top: 50px;
  display: flex;
  align-self: center;
  margin: 0 auto;
  width: 100%;
}

.submit, select, input, a{
  width: 100%;
  height: 50px;
  background: rgba(14, 26, 14, 0.3);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-align: center;
}  

.fade{
  padding: 2px;
}
.fade:nth-of-type(1){
  order: 2;
  background: rgba(28, 202, 22, 0.116)
}
.fade:nth-of-type(2){
  order: 1;
  background: rgba(28, 202, 22, 0.486)
}
.fade:nth-of-type(3){
    background: rgb(28, 202, 22)
}

 /* select{
  width: 70%;
} */
/* select:hover{
  box-shadow: 0px 0px 100px 50px rgba(0,146,34,1);
}  */
a{
  padding: 20px;
  text-decoration: none;
  transition: 1s ease-in-out;
}
a:hover{
  box-shadow: 0px -2px 570px 64px rgba(0,146,34,1);
  /* background: rgba(255,255,255,0.5) */
}

a span{
    transition: 0.3s ease;
     background: rgba(0,146,34,0);
     /* border-radius: 5px; */
     /* padding: 4px; */
}
a:hover span{
  color: #009222;
  /* background: rgba(255, 255, 255, 1); */
}
.yellowHover:hover{
  box-shadow: 0px -2px 570px 64px rgb(226, 241, 7);
}
.yellowHover:hover span{
    color: rgb(226, 241, 7);
}
.redHover:hover{
  box-shadow: 0px -2px 570px 64px rgb(241, 7, 7);
}
.redHover:hover span{
    color:  rgb(241, 7, 7)
}

.theo{
  max-width: 35%;
  margin: 0 auto;
  box-shadow: 0px -2px 50px 20px rgba(0,146,34,1);
}
.bringToFront{
  padding-bottom: 50px;
}
.donor{
  color: rgba(0,146,34,1);
  background: black;
}
.heart{
  color: firebrick;
}
.flexCharts form select{
  width: 70%;
  
}
.waiting{
  width: 50%;
   padding: 20px;
  text-decoration: none;
  transition: 1s ease-in-out;
  border-radius: 50px;
}

.wishingWell{
  position: absolute;
  width: 268px;
  margin-top: 180px;
}
footer{
  /* position: fixed;
  bottom: 5%;
  margin: 0 auto; */
  text-align: center;
  width: 100%;
}

@media (max-width: 1065px){
  h1,h2,h3{
    font-size: 20px;
  }
  .flexCharts{
    flex-direction: column;
  }
  a, .waiting{
    font-size: 16px;
    padding: 10px;
  }
  .waiting{
    width: 95%
  }
  .theo{
    max-width: 95%;
  }
  /* .waiting{
    padding
  } */
}